.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 84px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header__logo {
  margin-left: 20px;
}

.header__logo img {
  width: 130px;
  height: 52px;
}

.header__nav {
  margin-right: 20px;
}
